html,
body {
  height: 100%;
}

body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #1e2129;
}

.transition{
  -webkit-transition: color 0.5s ease;
  -moz-transition: color 0.5s ease;
  -o-transition: color 0.5s ease;
  transition: color 0.5s ease;
}
a{color:#71b346;}

.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus{
    background-color:#71b346;
    color:#71b346;
    }

/* width */
::-webkit-scrollbar {
    width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #71b346;
    border-radius: 10px;
}

.transition:hover{
  color : white;
}

.transition-fade {
  opacity: 0.95;
  -webkit-transition: width 1s; /* Safari */
  transition: width 1s;
}

.transition-fade:focus{
  transform: scale(1.1);
  opacity: 1;
}

.transition-fade:hover{
  transform: scale(1.1);
  opacity: 1;
}

.form-sr {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}
.form-sr .checkbox {
  font-weight: 400;
}
.form-sr .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-sr .form-control:focus {
  z-index: 2;
}
.form-sr input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-sr input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/* Add a black background color to the top navigation */
.topnav {
    background-color: #2e2f36;
    overflow: hidden;
    position: absolute;
    top: 0%;
    left: 0%;
    right: 0%;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #71b346;
    color: #2e2f36;
}


 table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
    color: #f2f2f2;
}

tr:nth-child(even){background-color: #494b53}
tr:nth-child(odd){background-color: #494b53}

th {
    background-color: #4CAF50;
    color: #2e2f36;
}

tr:hover {
    background-color: #428f62;
 -webkit-box-shadow: 0 6px 6px -6px #0E1119;
        -moz-box-shadow: 0 6px 6px -6px #0E1119;
             box-shadow: 0 6px 6px -6px #0E1119;
 }

th:hover{
    background-color: #428f62;
    -webkit-box-shadow: 0 6px 6px -6px #0E1119;
        -moz-box-shadow: 0 6px 6px -6px #0E1119;
                box-shadow: 0 6px 6px -6px #0E1119;
 }
